.panel.panel-default.mapping-box
    .panel-heading Place Canvas Box

    .panel-body
        //.row
        //    .col-xs-4
        //        .btn-group
        //            button.btn.btn-default(ng-click="rotLeft()") Rotate Left
        //            button.btn.btn-default(ng-click="rotRight()") Rotate Right

        // .row
        //    img.col-xs-12(ng-src="{{ imageFile }}", img-reader="readSize" ng-click="logPosition($event)" ng-style="imageStyle")
        canvas

