.panel.panel-default.mapping-box
    .panel-heading Draw Points 

    .panel-body
        .row.row-padded
            .col-xs-2
                .input-group
                    span.input-group-addon X
                    span.form-control {{ mouseLocation.y | number: 2 }}
            .col-xs-2
                .input-group
                    span.input-group-addon Y
                    span.form-control {{ mouseLocation.y | number: 2 }}

            .col-xs-8
                button.btn.btn-default.pull-right(ng-click="done()") Done

        .row.row-padded
            .col-xs-12
                canvas

