.panel.panel-default.mapping-box
    .panel-heading Draw Points 

    .panel-body
        .row.row-padded
            .col-xs-4
                .btn-group
                    button.btn.btn-default(ng-click="smaller()") -
                    button.btn.btn-default(ng-click="larger()") +
            .col-xs-8
                button.btn.btn-default.pull-right(ng-click="done()") Done

        .row.row-padded
            .col-xs-12
                canvas

