doctype html 
html(lang="en")
  head
    title Hello World!

    script(type='text/javascript', src='all.min.js')

  body
    h1 Hello World!
    p.
      Working on something a little more interesting.
      Let's see if I can get this to work.
